@import 'nib'
@require 'reset'

global-reset()

//---------
.prime-content
  padding 50px 0
  input[type="search"], label, select
    color #000
.current
  background #999 !important
.update-form
  display none
  justify-content center
  align-items center
.submit-form
  background #ffffff
  padding 50px
  > label
    display block
    margin-bottom 10px
.vis
  display flex
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  background rgba(#000, .7)